<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="./vue.js"></script>
    <title>Vue.js - fundamentos</title>
    <style></style>
  </head>
  <body>
    <!--
      Você possui o nome e sobrenome do usuário em data,
      crie uma propriedade computed que retorne o nome completo
      
      Utilize a rest API para puxar as capitais dos paises
      Use um campo de select, onde o usuário pode selecionar o país.
      https://restcountries.com/v2/all

      Com uma função watch, mude a capital de acordo com o país selecionado:

      Ex de campo select:

      <select name="paises" id="paises" v-model="selecionado">
        <option v-for="pais in paises" :value="pais.name">
          {{pais.name}}
        </option>
      </select>
    -->

    <div id="app">
      <!-- {{nomeCompleto}} -->
      <h1>Países do mundo</h1>
      <button @click="findCountries">Buscar</button>
      <select name="paises" id="paises" v-model="selecionado">
        <option v-for="pais in paises" :value="pais.name">
          {{pais.name}}
        </option>
      </select>
      <p>Capital: {{capital.capital}}</p>
    </div>

    <script>
      const vm = new Vue({
        el: '#app',
        data:{
          nome: 'Diego',
          sobrenome: 'Barbosa',
          selecionado: '',
          capital: {},
          paises: {},
        },
        methods:{
          findCountries(){
            fetch('https://restcountries.com/v2/all')
              .then(res => res.json())
              .then(json => this.paises = json)
            ;
          }
        },
        watch:{
          selecionado(valor){
            this.capital = this.paises.find((pais) => pais.name === valor);
          }
        },
        computed:{
          nomeCompleto(){
            return this.nome + ' ' + this.sobrenome;
          }
        }
      });
    </script>
  </body>
</html>
